@use "../../../styles/index.scss" as *;
.btn {
  position: relative;
  &-XL {
    width: 119px;
    min-width: 119px;
    height: 48px;
    padding: 11px 24px 11px 24px;
  }
  &-M {
    min-width: 87px;
    width: 100px !important;
    min-height: 36px;
    padding: 8px 16px;
    border: none !important;
    span {
      @include title-16;
    }
  }
  &-gray,
  &-file,
  &-primary,
  &-secondary {
    @include flex(center, center);
    width: 160px;
    height: 52px;
    border-radius: $border-radius-event;
    outline: none;
    cursor: pointer;
    border: none;
    transition: all ease-in-out 0.3s;
    span {
      @include flex(center, static);
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      letter-spacing: $letter-spacing;
    }
    &:hover {
      opacity: 0.9;
    }
  }
  &-primary {
    background-color: $btn-primary;
    span {
      color: $txt-white;
    }
  }
  &-secondary {
    margin-right: 32px;
    background-color: $btn-secondary;
    span {
      color: $txt-black;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &-gray {
    background-color: $btn-gray;
    span {
      color: $txt-white;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  &-file {
  
    background-color: $color-white;
    border: 1px solid $color-primary;
    span {
      color: $txt-primary;
      opacity: 1;
      transition: all ease-in-out 0.3s;
    }
    &:hover {
      opacity: 0.7;
    }
  }

  &-course {
    @include flex(center, center);
    background: #C5C5C5;
    padding: 8px 16px;
    min-width: 70px;
    height: 37px;
    border-radius: 32px;
    border: none;
    margin-right: 16px;
    margin-bottom: 16px;
    opacity: 1;
    cursor: pointer;
    transition: all linear 0.5s;
    span {
      @include title-16; 
      color: $txt-white;

    }
    &:hover {
      opacity: 0.7;
    }
  }

  &-icon {
    height: 24px;
    width: 24px;
    margin-right: 10px;
    color: #fff;
  }
}
