@use "../index.scss" as *;
@use "../../styles/index.scss" as *;

.auth-form {
  background-image: url("../../../public/images/bg.jpg");
  position: relative;
  width: 1920px;
  height: 1080px;
  border-radius: $border-radius;
}

.auth-login,
.auth-logout {
  position: absolute;
  right: 12%;
  top: 20%;
  width: 438px;
  height: auto;

  &-form {
    &__title {
      @include title-18;
      font-weight: 600;
      opacity: 1;
      margin-bottom: 8px;
    }

    .ant-input {
      @include title-16;
      height: 42px;
      border-radius: $border-radius-event;
    }
    .ant-input-affix-wrapper {
      max-height: 52px;
      border-radius: $border-radius-event;
    }
    .ant-input-affix-wrapper:focus {
      border: 1px solid $color-gray !important;
      box-shadow: none !important;
    }
    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
      border: 1px solid $color-gray !important;
    }
    &__icon {
      margin-right: 8px;
      color: #c9c4c0;
    }
    &__link {
      @include flex(center, flex-end);
      @include title-16;
      color: $color-primary;
      opacity: 1;
      transition: opacity ease 0.3s;

      &:hover {
        color: $color-primary;

        opacity: 0.5;
      }
    }
    &__btn {
      @include flex(center, center);
      @include title-18;
      font-weight: 700 !important;
      font-size: 18px !important;
      width: 100%;
      height: 52px !important;
      background: $bg-box-primary;
      border-radius: $border-radius-event;
      opacity: 1;
      border-color: $color-orange !important;
      transition: all linear 0.3;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  .gray-input {
    .ant-input {
      background-color: #f2f2f2 !important;
    }
  }
}
