@use "../index.scss" as *;

.select__calendar {
  width: 144px;
  height: 32px;
  border-radius: 4px !important;
  border: 1px solid #373839 !important;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 30px;
    width: 10px;
    right: 24%;
    border-right: 1px solid #373839;
  }
  .ant-picker {
    border: 4px;
  }
  .ant-picker-suffix {
    position: absolute;
    right: -15%;
  }

  &-icon {
    width: 18px;
    height: 18px;
    color: $color-primary;
  }
}

// form layout
.form-layout {
  position: relative;
  max-width: 884px;
  height: auto;
  padding: 24px 48px;
  background: $main-color;
  border-radius: $border-radius;

  &-btn {
    @include flex(center, center);
  }
  .gray-input {
    .ant-input {
      background-color: #f2f2f2 !important;
    }
  }

  .form-input,
  .form-input-required {
    .ant-input {
      @include title-16;

      height: 40px;
      padding: 8px 16px;
      border-radius: $border-radius-event;
    }
    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-label > label {
      font-size: 16px !important;
    }
    .ant-form-item-label {
      @include title-16-bold($txt-black);
      max-height: 40px;
      text-align: left;
    }
    .ant-form-item-required {
      &::before {
        position: absolute;
        right: -4px;
        top: 6px;
      }
    }
    .ant-select-selector {
      @include title-16;
      height: 40px !important;
      border-radius: $border-radius-event !important;
    }

    .ant-select-arrow {
      color: $color-primary;
      width: 23px;
      font-size: 19px;
    }
    textarea.ant-input {
      height: 72px;
      .ant-input {
        width: 527px;
      }
    }
    .ant-input-affix-wrapper {
      height: 40px !important;
      border-radius: $border-radius-event;
      .ant-input {
        height: 30px;
        padding-left: 0;
      }
    }
    &-select__year {
      .ant-select-selection-item {
        color: $txt-black;
      }
      .ant-select-selector {
        &::before {
          content: "";
          height: 100%;
          width: 1px;
          background: $color-black;
          position: absolute;
          top: 0;
          right: 29%;
        }
      }
      .ant-select-arrow {
        font-size: 14px !important;
        width: auto !important;
      }
    }
    .ant-picker {
      border-radius: $border-radius-event !important;
    }
    .select-gray {
      .ant-select-selector {
        background-color: $color-gray;
      }
    }
    .ant-picker {
      opacity: 1;
      transition: opacity linear 0.3s;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  .form-export__file {
    .ant-input {
      margin-top: -4px;
      height: 30px;
      padding-left: 0;
    }
    .ant-input-affix-wrapper {
      padding-left: 40px;
      height: 32px !important;
    }
    .ant-input-affix-wrapper {
      &::after {
        content: "";
        height: 23px;
        position: absolute;
        left: 12%;
        top: 3px;
        border-right: 1px solid #c9c4c0;
      }
    }
    .attach-icon {
      position: absolute;
      left: 10px;
      width: 14px;
      height: 16px;
      color: $color-primary !important;
    }
    &__upload {
      width: 172px;
      height: 32px;
      @include flex(center, center);
      position: relative;

      background: #ffd8b8;
      margin-left: 24px;

      border: 1px solid $color-primary;
      border-radius: 4px;
    }
  }
  .form-checkbox {
    .ant-form-item-control-input {
    }
    .ant-checkbox-inner {
      width: 24px !important;
      height: 24px !important;
      &::after {
        content: "";
        left: 30%;
      }
    }
    .ant-checkbox + span {
      padding-right: 8px;
      padding-left: 8px;
    }
    .ant-form-item-control-input {
      margin-top: -6px;
    }
  }
  .form-switch {
    @include flex(center, static);
    // .ant-switch {
    //   width: 64px;
    //   height: 33px;
    // }
    .ant-switch-handle {
      &::before {
        border-radius: 50%;
        top: 1px;
      }
    }
    .ant-typography {
      @include title-16;
      margin-left: 8px;
    }
  }

  .form-checkbox-main {
    @include flex(center, static);
    .ant-checkbox-inner {
      width: 24px !important;
      height: 24px !important;
    }
    .ant-checkbox + span {
      margin: auto;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      &::after {
        margin-left: 2px;
      }
    }
  }
}

// input -required
