@use "../index.scss" as *;

.tab {
  &__list {
    width: 1640px;
    height: 642px;
    background-color: $main-color;
    box-shadow: $box-shadow;
    border-radius: 16px 16px 0px 0px;
    padding: 32px 64px;
    position: relative;
    overflow-y: hidden;
    &__content {
      @include flex(center, static);
      min-width: 400px;
      height: 48px;
      padding: 6px;
      background-color: $color-gray;
      border-radius: 32px;

      &-title {
        @include flex(center, center);
        width: 255px;
        height: 36px;
        cursor: pointer;
      }
    //   &-title:nth-child(1) {
    //     margin-right: 80px;
    //   }
    }
  }
}
