@use "../../styles/" as *;

.table-content {
  .ant-table {
    min-height: 634px;
    margin-bottom: 40px;
  }
  .ant-table-thead > tr:nth-child(2) {
    position: relative;
  }
  .ant-table-thead > tr > th:first-child {
    border-top-left-radius: 8px !important;
  }
  .ant-table-thead > tr > th:last-child {
    border-top-right-radius: 8px !important;
  }
  .ant-table-thead > tr:nth-child(2) > th {
    border-radius: none !important;
    height: 40px !important;
    border: 1px solid $color-white !important;
  }
  .ant-table-thead > tr:nth-child(2) > th:first-child {
    
    &::before {
      height: 162px !important;
      width: 2px;
      left: -2px;
      top: 0 !important;
      background-color: $color-white !important;
    }
  }
  .ant-table-thead > tr:nth-child(2) > th:nth-child(5) {
    &::before {
      height: 162px !important;
      width: 2px;
      left: 254px;
      top: 0 !important;
      background-color: $color-white !important;
    }
  }
  .ant-table-tbody {
    font-size: 16px;
  }
  .ant-table-thead > tr > th {
    background: #f17f21 !important;
    color: $txt-white;
    font-weight: 600;
    font-family: $font-family;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: $letter-spacing;
    color: $txt-white;
    text-align: center;
    &::before {
      content: "";
      background-color: transparent !important;
    }
  }
 
  .ant-table-row {
    text-align: center;
  }
  .ant-table-row:nth-child(even) {
    background-color: #f0f3f6;

    &:hover {
      background-color: #f0f3f6 !important;
      opacity: 1 !important;
    }
  }
  //select row table

  .ant-checkbox {
    margin-left: 20px;
  }
  .ant-checkbox-inner {
    border: 1px solid $color-blue;
  }
  .ant-table-tbody > tr.ant-table-row-selected > td {
    background-color: transparent !important;
  }
  .ant-checkbox-indeterminate .ant-checkbox-inner {
    &::after {
      width: 100% !important;
      height: 100% !important;
    }
    &::before {
      content: "";
      width: 50%;
      height: 1px;
      background-color: #fff;
      position: absolute;
      top: 40%;
      left: 25%;
      z-index: 10;
    }
  }
  .ant-checkbox-indeterminate .ant-checkbox-inner {
    border-color: $color-blue !important;
  }
  //sorter
  .ant-table-column-sorter {
    display: none;
    margin-left: 0;
    margin-top: -10px;
  }
  td.ant-table-column-sort {
    background: transparent !important;
  }

  //css pagination
  .ant-pagination-item-active {
    border-color: transparent !important;
    a {
      color: $txt-white !important;
      background-color: $color-primary !important;
      border-radius: 50%;
      border: none;
    }
  }

  .ant-pagination-item-link {
    border: none !important;
  }
  .anticon {
    margin-top: 10px;
    font-size: 16px;
    color: $txt-black;
  }
  .border-table-row {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 300px;
      height: 80px;
      top: -16px;
      background: transparent;
      left: -16px;
      border: 1px solid #fff;
    }
  }
}
