@use "../index.scss" as *;

.edit-class {
  &__title {
    @include flex(center, static);
  }
  &__info {
    width: 1640px;
    height: 258px;
    background-color: $color-pink;
    border: 1px solid $color-primary;
    border-radius: $border-radius;
    position: relative;
    padding: 24px 64px;
    &__content {
      @include flex(center, space-between);
      margin-bottom: 24px;
    }
  }
  &__list {
    width: 1640px;
    height: 642px;
    background-color: $main-color;
    box-shadow: $box-shadow;
    border-radius: 16px 16px 0px 0px;
    padding: 32px 64px;
    position: relative;
    overflow-y: hidden;
    &__content {
      @include flex(center, static);
      width: 519px;
      height: 48px;
      padding: 6px;
      background-color: $color-gray;
      border-radius: 32px;

      &-title {
        @include flex(center, center);
        width: 255px;
        height: 36px;
        cursor: pointer;
      }
      &-title:nth-child(1) {
        margin-right: 80px;
      }
    }
  }
}
