@use "../styles/" as *;

.select__calendar {
  width: 144px;
  height: 32px;
  border-radius: 4px !important;
  border: 1px solid #373839 !important;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 32px;
    width: 10px;
    right: 24%;

    border-right: 1px solid #373839;
  }
}

// form layout
.form-layout {
  position: relative;
  max-width: 884px;
  height: auto;
  padding: 24px 48px;
  background: $main-color;
  border-radius: $border-radius;

  &-btn {
    @include flex(center, center);
  }
  .form-input,
  .form-input-required {
    .ant-input {
      @include title-16;

      height: 40px;
      padding: 8px 16px;
      border-radius: $border-radius-event;
    }
    .ant-form-item {
      margin-bottom: 16px;
    }
    .ant-form-item-label > label {
      font-size: 16px !important;
    }
    .ant-form-item-label {
      @include title-16-bold($txt-black);
      max-height: 40px;
      text-align: left;
    }
    .ant-form-item-required {
      &::before {
        position: absolute;
        right: -4px;
        top: 6px;
      }
    }
    .ant-select-selector {
      @include title-16;
      height: 40px !important;
      border-radius: $border-radius-event !important;
    }

    .ant-select-arrow {
      color: $color-primary;
      width: 23px;
      font-size: 19px;
    }
    textarea.ant-input{
        height: 72px ;
        .ant-input {
            width: 527px;
        }
    }
    &-select__year {
      .ant-select-selection-item {
        color: $txt-black;
      }
      .ant-select-selector {
        &::before {
          content: "";
          height: 100%;
          width: 1px;
          background: $color-black;
          position: absolute;
          top: 0;
          right: 29%;
        }
      }
      .ant-select-arrow {
        font-size: 14px !important;
        width: auto !important;
      }
    }
  }
}

// input -required
